
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Poppins:wght@300&display=swap');
.fnt1{
    font-family: 'Poppins', sans-serif;
}
.fnt2{
    font-family: 'Cormorant Garamond', serif;
}
.clr{
    color: #BE9A82;
}