
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&family=Poppins:wght@300&display=swap');
/* header Css Start 
    ...-                   .
    -                   ..
 header Css Start */

a,p{
    font-family: 'Poppins', sans-serif;

    /* font-family: 'Cormorant Garamond', serif; */
}
.btnsr{
    background-color: #f3e5dd;
    position: fixed;
    right: 5px;
    bottom: 80px;
    z-index: 2;
    width: 80px;
    height: 80px;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 8px rgb(236, 177, 177);
    
}
.titleclr{
color: #BE9A82;
font-family: 'Cormorant Garamond', serif;
}
.btnsr:hover{
    background-color: #BE9A82;
    border: 1px solid #ece5df;
}
.close_btn {
    position: absolute;
    top: -0px;
    right: -0px;
    padding: 5px;
    /* background-color: #BE9A82; */
    color: #fff;
    cursor: pointer;
  }
li a:hover{
    color: #BE9A82;
    background-color: #f3d2bc;

}
